<script type="text/template" id="sserror" data-class="sserror containers" data-tag="div">
    
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>

    <div class="row">
        <div class="col s12 center-align">
            <i class="material-icons medium">error_outline</i>
        </div>
    </div>

    <div class="row">
    	<div class="col s12 center-align">
    		<h5>No se pudo cargar el contenido debido a problemas de conección</h5>
    	</div>
    </div>

</script>