<script type="text/template" id="ssfooter" data-class="ssfooter page-footer teal" data-tag="footer">
    
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h5 class="white-text">Simple Stock</h5>
                <p class="grey-text text-lighten-4">Aplicación simple para gestión de inventarios, desarrollador por Marlon Enmanuel Montalvo Flores. Contacto a marlon.enmanuel.mf@gmail.com</p>
            </div>
        </div>
    </div>

</script>