<script type="text/template" id="ssheader" data-class="ssheader" data-tag="header">

    <nav class="light-blue darken-2">
        <div class="nav-wrapper container">

            <a href="#!" class="brand-logo left">Simple Stock</a>

            <ul class="right">
                
            </ul>

            <div class="container">
                <a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only right">
                    <i class="material-icons">menu</i>
                </a>
            </div>

            <ul id="slide-out" class="side-nav fixed">
                <li class="ssnav-logo">
                    <h4 class="center-align">
                        <img src="/img/logo.png" alt="Logo Simple Stock">
                    </h4>
                </li>
                <li class="ssnav-user teal-text text-darken-4">
                    <div class="center-align">
                        <h5>Bienvenido</h5>
                        <h6>Marlon Enmanuel Montalvo Flores</h6>
                    </div>
                    <br>
                </li>
                <li><div class="divider"></div></li>
                <li><a href="#!">First Sidebar Link</a></li>
                <li><div class="divider"></div></li>
                <li><a href="#!">Second Sidebar Link</a></li>
                <li><div class="divider"></div></li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">Mantenimiento</a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="#!">Cantegorías</a></li>
                                    <li><a href="#!">Productos</a></li>
                                    <li><a href="#!">Periodos</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li><div class="divider"></div></li>
                <li><a href="#!" onclick="app.models.login.destroy()">Cerrar Sesion</a></li>
                <li><div class="divider"></div></li>
            </ul>
            
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

        </div>
    </nav>

</script>