<script type="text/template" id="ssregistro" data-class="ssregistro container" data-tag="div">
    
    <div class="section">
        <div class="row">
            <h4>Registrar <%= strtipo %></h4>
        </div>
    </div>

    <div class="divider"></div>

    <% if(!app.models.actual.has('id')){ %>
        <div class="section">
            <br><br>
            <div class="row">
                <div class="col s12 center-align">
                    <i class="material-icons medium">warning</i>
                    <h5>Ningun periodo en transcurso, registre un periodo nuevo antes de hacer movimientos.</h5>
                </div>
            </div>
        </div>
    <% }else{ %>

        <form class="section">
            <div class="row">
                <div class="input-field col s6">
                    <input id="ip-idinventario" type="text" tabindex="1" name="idinventario">
                    <label for="ip-idinventario" >Código de Inventario</label>
                </div>
                <div class="input-field col s6">
                    <input id="ip-cantidad" type="number" tabindex="2" name="cantidad" value="1" min="1">
                    <label for="ip-cantidad" class="active">Cantidad</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="ip-lote" type="text" tabindex="3" name="lote">
                    <label for="ip-lote" >Lote</label>
                </div>
                <div class="input-field col s6">
                    <input id="ip-guia" type="text" tabindex="4" name="guia">
                    <label for="ip-guia" >Guía</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="ip-apunte" type="text" tabindex="5" name="apunte">
                    <label for="ip-apunte" >Apunte</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 form-cancel">
                    <input class="cancelar waves-effect waves-light btn" value="Cancelar" type="reset">
                </div>
                <div class="input-field col s6">
                    <input class="guardar waves-effect waves-light btn" value="Guardar" type="submit">
                </div>
            </div>
        </form>

    <% } %>

</script>